body 
{
    background-color: #cdcbce;
}
#btn
{
    width: 100px;
    height: auto;
    padding: 10px;
    color: white;
    border: none;
    margin-left: 5%;
    margin-top: 5%;
}
#btn1 
{
    width: 100px;
    height: auto;
    padding: 10px;
    color: white;
    border: none;
    margin-left: 5%;
    margin-top: 5%;
}
@media only screen and (min-width:320px) and (max-width:480px)
{
    .container
    {
        width: 90% !important;
        height: auto;
        margin-left: 20%;
    }
    
} 